target/
!.mvn/wrapper/maven-wrapper.jar

### IDE ###
.idea/
*.iml
*.iws
*.ipr
.vscode/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### Logs ###
logs/
*.log

### OS ###
.DS_Store
Thumbs.db

### Docker ###
.env
